---
apiVersion: batch/v1
kind: Job
metadata:
  name: ks-devops-migration
  namespace: d3os-system
  labels:
    app: ks-devops-migration
    job: ks-devops-migration
    version: v3.0.0
spec:
  backoffLimit: 6
  completions: 1
  parallelism: 1
  template:
    metadata:
      labels:
        app: ks-devops-migration
        job: ks-devops-migration
        version: v3.0.0
      name: ks-devops-migration
    spec:
      initContainers:
        - name: wait-jenkins
          image: {{ busybox_repo }}:{{ busybox_tag }}
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'until wget --spider http://ks-jenkins.d3os-devops-system.svc/login; do echo "waiting for myservice"; sleep 2; done;']
        - name: wait-mysql
          image: {{ busybox_repo }}:{{ busybox_tag }}
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'until nc -z mysql.d3os-system.svc 3306; do echo "waiting for mysql"; sleep 2; done;']
        - name: wait-apiserver
          image: {{ busybox_repo }}:{{ busybox_tag }}
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'until nc -z ks-apiserver.d3os-system.svc 80; do echo "waiting for apiserver"; sleep 2; done;']
      containers:
        - command:
          - ks-upgrade
          image: {{ ks_devops_migration_repo }}:{{ ks_devops_migration_tag }}
          imagePullPolicy: IfNotPresent
          name: ks-devops-upgrade
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /etc/d3os/
              name: d3os-config
      serviceAccount: d3os
      serviceAccountName: d3os
      volumes:
        - configMap:
            defaultMode: 420
            name: d3os-config
          name: d3os-config
      dnsPolicy: ClusterFirst
      restartPolicy: OnFailure
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30