apiVersion: logging.d3os.io/v1alpha2
kind: FluentBit
metadata:
  name: fluent-bit
  namespace: d3os-logging-system
  labels:
    app.kubernetes.io/name: fluent-bit
spec:
  image: {{ ks_fluent_bit_repo }}:{{ ks_fluent_bit_tag }}
  positionDB:
    emptyDir: {}
  fluentBitConfigName: fluent-bit-config
  tolerations:
    - operator: Exists
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/edge
            operator: DoesNotExist
