---
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app: openpitrix
    component: openpitrix-upgrade-job
    version: v3.1.0
  name: openpitrix-upgrade-job
  namespace: d3os-system
spec:
  backoffLimit: 100
  template:
    metadata:
      labels:
        app: openpitrix
        component: openpitrix-upgrade-job
        version: v3.1.0
    spec:
      serviceAccountName: d3os
      restartPolicy: OnFailure
      containers:
        - name: upgrade
          command:
            - sh
            - -c
            - upgrade && import-app import
          image: {{ openpitrix_job_repo }}:{{ openpitrix_job_tag }}
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /etc/d3os
              name: d3os-config
      volumes:
        - name: d3os-config
          configMap:
            name: d3os-config